<!DOCTYPE html>
<html>
  <head>
    <title>Research Study</title>
    <link
      rel="stylesheet"
      href="page_new.css"
    />
  </head>
  <body>
    <div id="image">
      <img
        src="./assets/logo.png"
        alt="Logo"
        class="logo"
      />
    </div>
    <div id="page1">
      <!-- <h1>Research Study</h1> -->
      <p align="justify">
        Thank you for agreeing to participate in the Research Study. Your
        answers would be kept anonymous and will be used for Research Purpose
        only.
      </p>
      <p align="justify">
        We request you to be <strong><u>attentive and honest</u></strong> while
        sharing your opinion throughout the survey, as there are
        <strong><u> quality check questions implemented</u></strong> at
        different stages to <strong><u>filter inattentive responses</u></strong
        >.
      </p>
      <br />
      <br />
      <div class="agree">
        <input
          type="checkbox"
          id="agreePage1"
        />
        <label for="agreePage1">
          Sure, I will Read every question carefully before proceeding.
        </label>
      </div>
      <br />
      <div class="btn">
        <button
          id="proceedPage1"
          disabled
        >
          Proceed
        </button>
      </div>
    </div>

    <div
      id="page2"
      style="display: none"
    >
      <!-- <h1>Research Study</h1> -->
      <p align="justify">
        You would <strong>get descriptive questions to answer</strong>, please
        read the questions carefully before answering and input a meaningful
        response.
      </p>

      <p align="justify">
        <strong
          >Gibberish or non-meaningful responses would be rejected in real
          time.</strong
        >
      </p>
      <br />
      <br />
      <div class="agree">
        <input
          type="checkbox"
          id="agreePage2"
        />
        <label for="agreePage2">
          Sure, I will enter meaningful response in descriptive questions.
        </label>
      </div>
      <br />
      <div class="btn">
        <button
          id="proceedPage2"
          disabled
        >
          Proceed
        </button>
      </div>
    </div>

    <div
      id="page3"
      style="display: none"
    >
      <form
        action="/submit"
        method="post"
      >
        <div class="question-container">
          <div
            class="input question"
            id="question1"
          >
            <label for="gender"> Please select your gender:</label><br />
            <div class="input-div">
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="gender"
                  value="Male"
                />
                Male
              </div>
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="gender"
                  value="Female"
                />
                Female
              </div>
            </div>
          </div>
          <div
            class="input question"
            id="question2"
            style="display: none"
          >
            <label> What is 3+6?</label><br />
            <div class="input-div">
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="numericOdd"
                  value="7"
                />
                7
              </div>
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="numericOdd"
                  value="9"
                />
                9
              </div>
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="numericOdd"
                  value="36"
                />
                36
              </div>
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="numericOdd"
                  value="5"
                />
                5
              </div>
            </div>
          </div>
          <div
            class="input question"
            id="question3"
            style="display: none"
          >
            <label for="age"> What is your age?</label><br />
            <input
              required
              type="number"
              name="age"
            />
          </div>
          <div
            class="input question"
            id="question4"
            style="display: none"
          >
            <label> Please select the odd one out:</label><br />
            <div class="input-div">
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="oddOne"
                  value="Lion"
                />
                Lion
              </div>
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="oddOne"
                  value="Cat"
                />
                Cat
              </div>
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="oddOne"
                  value="Tiger"
                />
                Tiger
              </div>
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="oddOne"
                  value="AeroPlane"
                />
                Aeroplane
              </div>
            </div>
          </div>
          <div
            class="input question"
            id="question5"
            style="display: none"
          >
            <label> How do you like taking online surveys?</label><br />
            <textarea
              name="surveyPreference"
              rows="5"
              cols="40"
              minlength="50"
            ></textarea>
          </div>
        </div>
        <div class="btn">
          <button
            id="nextQuestion"
            disabled
          >
            Next
          </button>
          <button
            type="submit"
            class="btn-sub"
            id="submitButton"
            style="display: none"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
    <script>
      const agreePage1Checkbox = document.getElementById('agreePage1')
      const proceedPage1Button = document.getElementById('proceedPage1')
      const image = document.getElementById('image')
      const page1 = document.getElementById('page1')
      const page2 = document.getElementById('page2')

      const agreePage2Checkbox = document.getElementById('agreePage2')
      const proceedPage2Button = document.getElementById('proceedPage2')
      const page3 = document.getElementById('page3')

      agreePage1Checkbox.addEventListener('change', () => {
        proceedPage1Button.disabled = !agreePage1Checkbox.checked
      })

      proceedPage1Button.addEventListener('click', () => {
        page1.style.display = 'none'
        page2.style.display = 'block'
      })

      agreePage2Checkbox.addEventListener('change', () => {
        proceedPage2Button.disabled = !agreePage2Checkbox.checked
      })

      proceedPage2Button.addEventListener('click', () => {
        page2.style.display = 'none'
        image.classList.add('image3')
        page3.style.display = 'block'
      })

      const questionContainer = document.querySelector('.question-container')
      const questions = questionContainer.querySelectorAll('.question')
      const nextQuestionButton = document.getElementById('nextQuestion')
      const submitButton = document.getElementById('submitButton')

      let currentQuestionIndex = 0

      function shuffleOptions(optionsContainer) {
        const options = Array.from(optionsContainer.children)
        for (let i = options.length - 1; i > 0; i--) {
          const j = Math.floor(Math.random() * (i + 1))
          optionsContainer.appendChild(options[j])
        }
      }

      function showQuestion(index) {
        questions[currentQuestionIndex].style.display = 'none'
        questions[index].style.display = 'block'
        currentQuestionIndex = index

        if (index === questions.length - 1) {
          nextQuestionButton.style.display = 'none'
          submitButton.style.display = 'block'
        } else {
          nextQuestionButton.style.display = 'block'
          submitButton.style.display = 'none'
        }

        nextQuestionButton.disabled = true

        if (index === 1 || index === 3) {
          const questionOptionsContainer =
            questions[index].querySelector('.input-div')
          shuffleOptions(questionOptionsContainer)
        }
      }

      function enableNextButton() {
        nextQuestionButton.disabled = false
      }

      const radioInputs = questionContainer.querySelectorAll(
        'input[type="radio"]'
      )
      const numberInput = document.querySelector('input[type="number"]')
      const textarea = document.querySelector('textarea')

      for (const input of radioInputs) {
        input.addEventListener('change', enableNextButton)
      }

      numberInput.addEventListener('input', enableNextButton)

      textarea.addEventListener('input', () => {
        nextQuestionButton.disabled = textarea.value.length < 50
      })

      nextQuestionButton.addEventListener('click', () => {
        const nextIndex = currentQuestionIndex + 1
        showQuestion(nextIndex)
      })

      showQuestion(0)
    </script>
  </body>
</html>
