<!DOCTYPE html>
<html>
  <head>
    <title>Research Study</title>
    <link
      rel="stylesheet"
      href="page_new.css"
    />
  </head>
  <body>
    <div id="image">
      <img
        src="./assets/logo.png"
        alt="Logo"
        class="logo"
      />
    </div>
    <div id="page1">
      <!-- <h1>Research Study</h1> -->
      <p align="justify">
        Thank you for agreeing to participate in the Research Study. Your
        answers would be kept anonymous and will be used for Research Purpose
        only.
      </p>
      <p align="justify">
        We request you to be <strong><u>attentive and honest</u></strong> while
        sharing your opinion throughout the survey, as there are
        <strong><u> quality check questions implemented</u></strong> at
        different stages to <strong><u>filter inattentive responses</u></strong
        >.
      </p>
      <br />
      <br />
      <div class="agree">
        <input
          type="checkbox"
          id="agreePage1"
        />
        <label for="agreePage1">
          Sure, I will Read every question carefully before proceeding.
        </label>
      </div>
      <br />
      <div class="btn">
        <button
          id="proceedPage1"
          disabled
        >
          Proceed
        </button>
      </div>
    </div>

    <div
      id="page2"
      style="display: none"
    >
      <!-- <h1>Research Study</h1> -->
      <p align="justify">
        You would <strong>get descriptive questions to answer</strong>, please
        read the questions carefully before answering and input a meaningful
        response.
      </p>

      <p align="justify">
        <strong
          >Gibberish or non-meaningful responses would be rejected in real
          time.</strong
        >
      </p>
      <br />
      <br />
      <div class="agree">
        <input
          type="checkbox"
          id="agreePage2"
        />
        <label for="agreePage2">
          Sure, I will enter meaningful response in descriptive questions.
        </label>
      </div>
      <br />
      <div class="btn">
        <button
          id="proceedPage2"
          disabled
        >
          Proceed
        </button>
      </div>
    </div>

    <div
      id="page3"
      style="display: none"
    >
      <form
        action="/submit"
        method="post"
      >
        <div class="question-container">
          <div
            class="input question"
            id="question1"
            data-check="0"
          >
            <label for="gender"> Please select your gender:</label><br />
            <div class="input-div">
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="gender"
                  value="Male"
                />
                Male
              </div>
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="gender"
                  value="Female"
                />
                Female
              </div>
            </div>
          </div>
          <div
            class="input question"
            id="question2"
            style="display: none"
            data-check="0"
          >
            <label> What is 3+6?</label><br />
            <div class="input-div">
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="numericOdd"
                  value="7"
                />
                7
              </div>
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="numericOdd"
                  value="9"
                />
                9
              </div>
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="numericOdd"
                  value="36"
                />
                36
              </div>
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="numericOdd"
                  value="5"
                />
                5
              </div>
            </div>
          </div>
          <div
            class="input question"
            id="question3"
            style="display: none"
            data-check="0"
          >
            <label for="age"> What is your age?</label><br />
            <input
              required
              type="number"
              name="age"
            />
          </div>
          <div
            class="input question"
            id="question4"
            style="display: none"
            data-check="0"
          >
            <label> Please select the odd one out:</label><br />
            <div class="input-div">
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="oddOne"
                  value="Lion"
                />
                Lion
              </div>
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="oddOne"
                  value="Cat"
                />
                Cat
              </div>
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="oddOne"
                  value="Tiger"
                />
                Tiger
              </div>
              <div class="sub">
                <input
                  required
                  type="radio"
                  name="oddOne"
                  value="AeroPlane"
                />
                Aeroplane
              </div>
            </div>
          </div>

          <div
            class="input question"
            id="question6"
            style="display: none"
            data-check="1"
          >
            <label for="industry"
              >Which of the following best describes the industry that you,
              personally, work in?</label
            ><br />
            <div class="input-div">
              <div class="sub">
                <input
                  type="radio"
                  name="industry"
                  value="Advertising"
                />
                Advertising
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="industry"
                  value="Banking/Financial"
                />
                Banking/Financial
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="industry"
                  value="Chemicals/Plastics/Rubber"
                />
                Chemicals/Plastics/Rubber
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="industry"
                  value="Communications/Information"
                />
                Communications/Information
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="industry"
                  value="Construction"
                />
                Construction
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="industry"
                  value="Consumer Electronics"
                />
                Consumer Electronics
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="industry"
                  value="Consumer Packaged Goods"
                />
                Consumer Packaged Goods
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="industry"
                  value="Education"
                />
                Education
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="industry"
                  value="Food/Beverage"
                />
                Food/Beverage
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="industry"
                  value="Information Technology/IT"
                />
                Information Technology/IT
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="industry"
                  value="Other"
                />
                Other
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="industry"
                  value="I don't work"
                />
                I don't work
              </div>
            </div>
          </div>
          <div
            class="input question"
            id="question7"
            style="display: none"
            data-check="0"
          >
            <label for="jobTitle"
              >What is your job title, level, or responsibility?</label
            ><br />
            <div class="input-div">
              <div class="sub">
                <input
                  type="radio"
                  name="jobTitle"
                  value="C-Level (e.g. CEO, CFO), Owner, Partner, President"
                />
                C-Level (e.g. CEO, CFO), Owner, Partner, President
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="jobTitle"
                  value="Vice President (EVP, SVP, AVP, VP)"
                />
                Vice President (EVP, SVP, AVP, VP)
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="jobTitle"
                  value="Director (Group Director, Sr. Director, Director)"
                />
                Director (Group Director, Sr. Director, Director)
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="jobTitle"
                  value="Manager (Group Manager, Sr. Manager, Manager, Program Manager)"
                />
                Manager (Group Manager, Sr. Manager, Manager, Program Manager)
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="jobTitle"
                  value="Analyst"
                />
                Analyst
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="jobTitle"
                  value="Administrative (Clerical or Support Staff)"
                />
                Administrative (Clerical or Support Staff)
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="jobTitle"
                  value="Intern"
                />
                Intern
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="jobTitle"
                  value="Volunteer"
                />
                Volunteer
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="jobTitle"
                  value="None of the above"
                />
                None of the above
              </div>
            </div>
          </div>
          <div
            class="input question"
            id="question8"
            style="display: none"
            data-check="0"
          >
            <label for="e_status"
              >Which of the following describes your employment status? </label
            ><br />
            <div class="input-div">
              <div class="sub">
                <input
                  type="radio"
                  name="e_status"
                  value="FullTime"
                />
                Full-time (30 hours or more per week)
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="e_status"
                  value="FullTime"
                />
                Part-time (less than 30 hours per week)
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="e_status"
                  value="freelance"
                />
                Contract, freelance, or temporary
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="e_status"
                  value="self"
                />
                Self-employed full time
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="e_status"
                  value="retired"
                />
                Retired
              </div>
              <div class="sub">
                <input
                  type="radio"
                  name="e_status"
                  value="None of the above"
                />
                None of the above
              </div>
            </div>
          </div>
          <div
            class="input question"
            id="question5"
            data-check="0"
            style="display: none"
          >
            <label> How do you like taking online surveys?</label><br />
            <textarea
              name="surveyPreference"
              rows="5"
              cols="40"
              minlength="50"
            ></textarea>
          </div>
        </div>

        <div class="btn">
          <button
            id="nextQuestion"
            disabled
          >
            Next
          </button>
          <button
            type="submit"
            class="btn-sub"
            id="submitButton"
            style="display: none"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
    <script>
      const agreePage1Checkbox = document.getElementById('agreePage1')
      const proceedPage1Button = document.getElementById('proceedPage1')
      const image = document.getElementById('image')
      const page1 = document.getElementById('page1')
      const page2 = document.getElementById('page2')

      const agreePage2Checkbox = document.getElementById('agreePage2')
      const proceedPage2Button = document.getElementById('proceedPage2')
      const page3 = document.getElementById('page3')

      agreePage1Checkbox.addEventListener('change', () => {
        proceedPage1Button.disabled = !agreePage1Checkbox.checked
      })

      proceedPage1Button.addEventListener('click', () => {
        page1.style.display = 'none'
        page2.style.display = 'block'
      })

      agreePage2Checkbox.addEventListener('change', () => {
        proceedPage2Button.disabled = !agreePage2Checkbox.checked
      })

      proceedPage2Button.addEventListener('click', () => {
        page2.style.display = 'none'
        image.classList.add('image3')
        page3.style.display = 'block'
      })

      const questionContainer = document.querySelector('.question-container')
      const questions = questionContainer.querySelectorAll('.question')
      const nextQuestionButton = document.getElementById('nextQuestion')
      const submitButton = document.getElementById('submitButton')

      let currentQuestionIndex = 0

      function shuffleOptions(optionsContainer) {
        const options = Array.from(optionsContainer.children)
        for (let i = options.length - 1; i > 0; i--) {
          const j = Math.floor(Math.random() * (i + 1))
          optionsContainer.appendChild(options[j])
        }
      }

      function showQuestion(index) {
        // console.log(question8.getAttribute('data-check'))
        // console.log(index)
        // console.log(questions[index])

        let extra = questions[index].getAttribute('data-check') ?? 0

        // console.log(extra)

        if (extra == 1) {
          // questions[index].style.display = 'block'
          // question8.style.display = 'none'
          questions[currentQuestionIndex].style.display = 'none'
          questions[index].style.display = 'none'
          // questions[index + 1].style.display = 'block'
          console.log('current index : ' + questions[index])
          currentQuestionIndex = index + 1
          showQuestion(index + 1)
        } else {
          console.log('index' + index)
          console.log('quest: ' + questions[index])
          questions[currentQuestionIndex].style.display = 'none'
          questions[index].style.display = 'block'
          currentQuestionIndex = index
        }

        if (index === questions.length - 1) {
          nextQuestionButton.style.display = 'none'
          submitButton.style.display = 'block'
        } else {
          nextQuestionButton.style.display = 'block'
          submitButton.style.display = 'none'
        }

        nextQuestionButton.disabled = true

        if (index === 1 || index === 3) {
          const questionOptionsContainer =
            questions[index].querySelector('.input-div')
          shuffleOptions(questionOptionsContainer)
        }
      }

      function enableNextButton() {
        nextQuestionButton.disabled = false
      }

      const radioInputs = questionContainer.querySelectorAll(
        'input[type="radio"]'
      )
      const numberInput = document.querySelector('input[type="number"]')
      const textarea = document.querySelector('textarea')

      for (const input of radioInputs) {
        input.addEventListener('change', enableNextButton)
      }

      numberInput.addEventListener('input', enableNextButton)

      textarea.addEventListener('input', () => {
        nextQuestionButton.disabled = textarea.value.length < 50
      })

      nextQuestionButton.addEventListener('click', () => {
        console.log(currentQuestionIndex)
        const nextIndex = currentQuestionIndex + 1
        showQuestion(nextIndex)
      })

      showQuestion(0)
    </script>
  </body>
</html>
